* {
  margin: 0;
}
p {
  font-weight: 600;
}
a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

/*top section*/

.header-con {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;
}
.tslogo img {
  width: 50px;
}

.b-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.menu-icon {
  font-size: 1.8rem;
  color: #494949;
}
.menu-icon-active li {
  display: flex;
}
.menu-icon-active a {
  text-decoration: none;
  color: black;
}
.menu-icon-inactive {
  display: none;
}
.title-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.title {
  font-size: x-large;
  margin: 0;
}

.cell-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.cell-con img {
  width: 20px;
  padding: 10px 0;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10rem;
  background-color: #8095ffb3;
}

.nav-list-active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 20px;
  padding-left: 0;
}

.nav-list li {
  display: inline-block;
  padding: 0.9rem;
}
.nav-list a {
  text-decoration: none;
  color: black;
}
.nav-list a:hover {
  background-color: #4949498f;
  border-radius: 5px;
  padding: 0.2rem;
  transition: 0.1s ease-in-out;
}

.hero {
  background-image: url("../images/ts-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 26vw;
  display: flex;
  position: relative;
  margin: 6vw;
  margin-bottom: 0;
}
.headline {
  position: absolute;
  left: 110px;
  top: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.takeMe-btn {
  height: 32px;
  background: #494949;
  border-radius: 10px;
  padding: 5px;
  color: #f6f6f3;

  width: 160px;
  border: none;
}

/*images/second section*/

.images-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
  margin-top: 8vw;
}

.categories {
  display: flex;
  width: 90%;
  padding-left: 8vw;
  padding-bottom: 2vw;
}

.imgArray-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-arr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85vw;
  overflow: auto;
  gap: 20px;
}
.img-arr::-webkit-scrollbar {
  display: none;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #8095ffb3;
  border-radius: 50%;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.icon img {
  width: 60px;
  height: 60px;
  margin: 0.8rem;
}
.see-more-con-xl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.see-more {
  border: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 1rem;
}

/*ThirdSec*/
.sec3-con {
  padding: 0;

  display: flex;
  margin: 80px 0;
}
.sec3-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /*background-image: url("../images/bloom.jpg");*/
  background-size: cover;
  border-radius: 30px 0 200px;
}
.sec3-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  gap: 20px;
  padding: 0 50px;
}
.products {
  display: flex;
  flex-direction: column;
}
.product-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.arrow-con img {
  width: 50px;
}
.con img {
  width: 50px;
}

.view-more {
  display: flex;
  gap: 6px;

  align-items: center;
}

/*advert*/

.adSpace2 img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin: 4rem;
  background-color: white;
  padding: 20px;
}
.adSpace2 {
  display: flex;
  align-items: center;
  margin-left: 13%;
  background-color: #8095ffb3;
  /* height: 550px; */
  border-radius: 300px 0 0 300px;
}

.ad2 {
  /* margin-left: 10vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  /* color: white; */
}
.ad2 h2 {
  width: 75%;
}

.footer {
  display: flex;

  justify-content: space-evenly;
  background-color: #8095ffb3;
  transform: translateY(150px);
  padding: 50px 0;
}
.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-banner img {
  width: 50px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .adSpace2 {
    margin: 0;
    flex-direction: column;
    background-color: inherit;
    gap: 6vh;
  }
  .adSpace2 img {
    display: none;
  }
  .ad2 {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .nav-list {
    display: none;
  }
  .b-menu {
    display: flex;
  }
  .title-con {
    display: none;
  }
  .sec3-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .sec3-right {
    width: 75vw;
  }

  .edu-pic {
    height: 400px;
    width: 400px;
    background-image: url("../images/ts-pp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
  .footer {
    transform: none;
  }
  .header-con {
    padding: 20px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: large;
  }
  .icon img {
    width: 60px;
    height: 60px;
  }
  .edu-pic {
    height: 300px;
    width: 300px;
    background-image: url("../images/ts-pp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .sec3-right {
    width: 90vw;
    padding: 0;
  }
}

@media (max-width: 576px) {
}

/*
.icon-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.icon {
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  display: inline-block;
  margin: 0 1.3rem;
}
.sidebar-list {
  display: none;
}
.menu-on {
  background-color: purple;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-start;
  width: 30%;
  top: 0;
}
.menu-off {
  display: none;
}
.sidebar li {
  display: block;
}
.sidebar ul {
  padding: 0;
}
.close {
  padding-top: 0.8rem;
  display: none;
}
*/
